body {
    margin: 0;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}

#header {
    height: 42px;
    width: 100%;

    background: #2f383c;
    color: #fefefe;
    font-size: 22px;

    position: absolute;
    top: 0;

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-items: center;
}

#content {
    margin-top: 42px;
}