#content_wrap {
    grid-template: "a c" "b c";
    grid-gap: 30px;
}

.element {
    width: 400px;
    padding: 15px;
    border: var(--border);
    border-radius: 5px;
}

#form_wrap {
    grid-area: b;
}

#results_wrap {
    align-self: start;
    grid-area: c;
}

#results_table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: var(--border);
}

td {
   text-align: center;
}

.x_btn {
    display: inline-block;
}

#plot_wrap {
    grid-area: a;
    height: 400px;
    padding: 15px;
    user-select: none;
}

#svg_plot {
    cursor: cell;
}

.cls-1, .cls-3 {
    fill: var(--figure-fill);
}

polygon, path, rect {
    cursor: crosshair;
}


#svg_plot > circle {
    cursor: pointer;
}

.cls-4:hover {
    transform-origin: -30px -30px -30px;
}