:root {
    --plot-wh: 400px;
    --element-width: 500px;
}

#header {
    grid-template-columns: 0.2fr 1fr 2fr 1fr;
}

#back_form {
    margin-left: 10px;
}

#back_form > button {
    font-size: 25px;
    border-radius: 20px;
}

#back_form > button > span {
    padding: 0 5px !important;
}

#content_wrap {
    grid-template: "a c" "b c";
    grid-gap: 10px;
    align-items: start;
}

.element {
    width: var(--element-width);
    padding: 15px;
    border: var(--border);
    border-radius: 5px;
}

#form_wrap {
    grid-area: b;
}

#form_wrap > form {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    grid-row-gap: 15px;
}

h3 {
    margin-top: 0;
}

#results_wrap {
    grid-area: c;
}

#results_table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

tr {
    border: var(--border);
}

td {
   text-align: center;
}

.x_btn > span {
    padding: 5px 5px;
    display: inline-block;
}

#add_btn {
    padding: 5px 5px;

}

#plot_outer_wrap {
    grid-area: a;
}
#plot_inner_wrap {
    height: var(--plot-wh);
    width: var(--plot-wh);
    margin: auto;
    user-select: none;
}

#svg_plot {
    cursor: cell;
}

.cls-1, .cls-3 {
    fill: var(--figure-fill);
}

polygon, path, rect {
    cursor: crosshair;
}


#svg_plot > circle {
    cursor: pointer;
}

.cls-4:hover {
    transform-origin: -30px -30px -30px;
}